/* CSS general */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #0b141e;
    color: #fff;
}

/* Header Section */
.header{
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    font-size: 2.2rem;
    font-weight: 600;
    color: aqua;
}

.menu-bar a{
    font-size: 1.5rem;
    margin-left: 3.5rem;
    transition: 0.4s ease;
}


.menu-bar a:hover{
    color: aqua;
}

#menu-btn{
    font-size: 3rem;
    display: none;
}

section{
    padding: 10rem 10%;
    min-height: 90vh;
}


/* Home Section */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-bio h3{
    font-size: 3rem;
}

span{
    color: aqua;
}

.home-bio h1{
    font-size: 4rem;
    line-height: 1.4;
}

.home-bio p{
    font-size: 1.5rem;
    padding: 2rem 0;
}

.profile-pic img{
    width: 15vw;
    border-radius: 50%;
    animation: float 7s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5rem);
    }
    100%{
        transform: translateY(0);
    }
}

.social-media a{
    width: 3.8rem;
    height: 3.8rem;
    font-size: 2.2rem;
    margin: 1rem 1rem 2rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.4s ease;
}

.social-media a:hover{
    color: aqua;
    box-shadow: 0 0 1rem aqua;

}

.btn{
    display: inline-block;
    background: aqua;
    margin: 2rem 0.5rem;
    padding: 1rem 2.5rem;
    border-radius: 1.3rem;
    font-size: 1.3rem;
    color: #000;
    font-weight: 600;
    transition: 0.5s ease;
    align-items: center;
    
}

.btn:hover{
    color: aqua;
    background: #000;
    box-shadow: 0 0 1rem aqua;
}


.heading{
    font-size: 3.3rem;
    text-align: center;
    margin: 3rem 0;
}


/* Skills Section */
.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem 10rem;

}

.skill-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165,1);
    color: rgba(255, 255, 255, 1);

}

.skill-card:hover{
    border-radius: 1rem solid;
    transform: scale(1.05);
}

.skill-card .bx{
    font-size: 8rem;
}

.skill-card .bx:hover{
    color: aqua;
    transition: 0.4s ease;
}

.skill-card h3{
    font-size: 2rem;
    font-weight: 200;   
}

.skill-card p{
    text-align: center;
    font-size: 1.3rem;
    opacity: 0.5;

}


/* Project Section */
 .projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.project-card{
    position: relative;
    height: 25rem;
    width: 100%;
    border-radius: 10px;
}

.project-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;

}
 
.project-card h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.project-card a{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
}

.card-overlay{
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    
}

.card-overlay:hover{
    background: rgba(0, 0, 0, 0.8);
    color: #000;
    transition: 0.4s all linear;
}

.card-overlay .bx{
    color: #fff;
    
    font-size: 1.5rem;
    padding: 1.1rem;
    background: rgba(0, 0, 0, 0);
    border-radius: 0.8rem;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);

}

.card-overlay .bx:hover{
    transform: scale(1.2);
    color: aqua;
    background: #000;
    box-shadow: 0 0 2rem aqua;
    display: flex;
    
}  

/* Contact Section */

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    display: grid;
    row-gap: 1rem;
}

form input,
textarea{
    width: 400px;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    resize: none;
}

/* Footer Section */

.footer{
    padding: 2rem 10%;
    text-align: center;
    font-size: 1rem;

}

hr{
    margin: 1rem;
    border-bottom: thin darkcyan solid;
}


/*Responsive Section */
@media (max-width: 1200px) {
    html{
        font-size: 60%;
    }
}

@media (max-width: 992px) {
    .header{
        padding: 2rem 4%;
    }
    .home img{
        width: 40vw;
    }
}

@media (max-width: 767px) {
    #menu-btn{
        display: block;
    }
    .menu-bar{
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background: rgba(0, 0, 0, 0.9);
        display: none;
    }
    .menu-bar.active{
        display: block;
        
    }
    .menu-bar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
        text-align: right;
    }

    .home{
        flex-direction: column;
    }
    .home img{
        width: 70vw;
    }
    .heading{
        font-size: 3rem;
    }

    .skills-items{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 620px) {
    .skills-items{
        grid-template-columns: repeat(1,1fr);
    }

    .project-items{
        grid-template-columns: repeat(1,1fr);
    }

    .heading{
        font-size: 2.7rem;
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
}

